@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-bold.eot");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.eot");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;

  --white: #fff;
  --black: #070707;
  --gray: #828282;
  --back-white: #f6f6f6;
  --back-gray: #f6f6f6;
}


/* #region Common */

.container {
  max-width: 942px;
  box-sizing: border-box;
  padding: 120px 0 100px 0;
  margin: 0 auto;
  border-top: 1px solid #828282;
}
.wrapper {
  box-sizing: border-box;
  padding: 0 30px;
}
.font-item {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
}
.font-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: var(--black);
}
.font-about {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

/* #endregion Common */

/* #region Header */

.header {
  background: var(--back-white);
}
.header__container {
  box-sizing: border-box;
  padding: 33px 0 104px;
  border-top: none;
}

/* nav */

.nav__list {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: var(--gray);
}
.nav__link:hover {
  color: var(--black);
}

/* burger */

.nav__btn {
  display: none;
  width: 33px;

  position: fixed;
  top: 68px;
  right: 30px;

  cursor: pointer;
}

/* content */

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__title {
  font-size: 47px;
  line-height: 59px;
}
.header__item {
  padding-bottom: 9px;
}
.header__image {
  margin-top: 50px;
}

/** radio-btn */

.radio__form {
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  padding-top: 10px;

  writing-mode: vertical-rl;    /*! устанавливает вертикальное положение текста или блока*/
  transform: rotate(180deg);
}
input {
  display: none;
}
.radio__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: var(--gray);

  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}
input:checked + .radio__label {
  color: var(--black);
}
.radio__separator {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}

/* #endregion */

/* #region About me */

.about {
  background: var(--back-gray);
}
.about__content {
  width: 485px;
  margin: 0 auto;
}
.about__title {
  margin-bottom: 17px;
}
.about__item {
  margin-top: 50px;
}

/* #endregion */

/* #region Skills */

.skills {
  background: var(--back-white);
}
.skills-item {
  margin-top: 70px;
}
.skills__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}
.skills__card {
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__card-img {
  width: 89px;
}
.skills__card-figma {
  width: 58px;
}
.skills__card-item {
  font-style: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 24px;
  color: #828282;
}
.skills__stars {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/* #endregion */

/* #region Portfolio */

.portfolio {
  background: var(--back-gray);
}
.portfolio__title {
  margin-bottom: 47px;
}
.portfolio__image {
  margin-bottom: 44px;
}
.portfolio__link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 100px;
}
.portfolio__link-last {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* #endregion */

/* #region Footer */

.footer {
  background: var(--back-white);
}
.footer__item {
  margin: 20px 0 30px 0;
}
.footer__btn {
  font-weight: bold;
  display: block;
  border: none;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 13px 30px;
  background: var(--black);
  color: var(--white);
  margin: 3rem auto 0;
  transition: all 0.1s ease-in;
}
.footer__btn:hover,
.footer__btn:focus {
  background: var(--gray);
}
.footer__btn:active {
  transform: translateY(2px);
  background: var(--black);
}
.footer__icons {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  margin-top: 86px;
}
.footer__icon {
  width: 40px;
}
.footer__under {
  font-weight: medium;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-top: 45px;
}

/* #endregion */
